<launch>
   <arg name="model" default="$(find roborts_sim)/model/robot.urdf"/>
   <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
   <arg name="gui" default="True" />
   <param name="use_gui" value="$(arg gui)"/>
   <node name="sim_node" pkg="sim" type="sim_node" ></node>
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
   <node name="rviz" pkg="rviz" type="rviz" />
 </launch>